<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo e Ícone -->
    <title>Portifólio de Lucas Inocêncio de França</title>
    <link rel="fav icon" type="image/png" href="../public/img/lfrancalogo.png">
    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/extends.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/jetbrains-mono">

</head>

<body>

    <!-- Navbar -->

    <nav class="navbar">
        <div class="navbar__content max-width mb-0">
            <a href="/">
                <img src="../public/img/lfrancalogo.png" width="70rem" height="70rem" alt="Lucas França">
            </a>
            <ul class="navbar__links">
                <li><a href="#header">Início</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#skills">Habilidades</a></li>
                <li><a href="#projects">Projetos</a></li>
                <li><a href="#footer">Contato</a></li>
            </ul>
            <div class="navbar__mobile">
                <img src="../public/img/menu.svg" alt="Menu" class="burger">
                <ul class="mobile__links">
                    <li><a href="#header">Início</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#skills">Habilidades</a></li>
                    <li><a href="#projects">Projetos</a></li>
                    <li><a href="#footer">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header(Início) -->

    <header id="header" class="max-width">
        <div class="header__left">
            <h1>Meu nome é Lucas França, e sou um desenvolvedor Full-Stack!</h1>
            <p>
                Tenho 20 anos e tenho grande interesse na área de cibersegurança, porém, ainda estou trilhando meu caminho, e espero que você possa participar dele!
                Apaixonado em pensar nas melhores soluções de problemas reais para os usuários.
            </p>
            <a href="#about" class="btn btn-primary">Saiba Mais!</a>
        </div>
        <div class="header__right">
            <div class="header__image">
                <img src="../public/img/lucas-franca.png" height="470rem" alt="Lucas Inocêncio de França" class="lucas" />
                <img src="../public/img/abstract.svg" alt="background" class="background" />
            </div>
        </div>
    </header>

    <!-- Sobre Mim -->

    <section id="about" class="about max-width">
        <div class="about__left">
            <h2 class="secondary-title">Além do código: Quem sou eu?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis itaque et temporibus at amet quisquam sit dolore aperiam exercitationem quae perspiciatis fugiat illo magni, ad cum ut.
                Repudiandae, accusantium facilis!
            </p>
            <ul>
                <li><a href="https://github.com/Lukinocencio" target="_blank"><img src="../public/img/github.svg" alt="GitHub de Lucas Inocêncio" class="svg-icons"></a></li>
                <li><a href="https://www.linkedin.com/in/lucas-inocêncio-de-frança-1a67a7191/" target="_blank"><img src="../public/img/linkedin.svg" alt="LinkedIn de Lucas Inocêncio" class="svg-icons"></a></li>
            </ul>
        </div>
        <div class="about__right">
            <h3 class="tertiary-title mb-m">
                Desenvolvedor Full-Stack apaixonado por tecnologia e soluções!
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis itaque et temporibus at amet quisquam sit dolore aperiam exercitationem quae perspiciatis fugiat illo magni, ad cum ut.
                Repudiandae, accusantium facilis!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis itaque et temporibus at amet quisquam sit dolore aperiam exercitationem quae perspiciatis fugiat illo magni, ad cum ut.
                Repudiandae, accusantium facilis!
            </p>
        </div>
    </section>

    <!-- Habilidades -->

    <section id="skills" class="skills">
        <div class="skills__content max-width">
            <h2 class="tertiary-title">Minha caixa de ferramentas!</h2>
            <p class="description">
                Veja abaixo minhas ferramentas e stacks nas quais eu tenho experiência!
            </p>
            <!-- Cada tag <li> é uma seção de habiilidade  -->
            <ul>
                <li class="skills__item">
                    <div class="image-container">
                        <img src="../public/img/mern-stack.png" alt="Desenvolvimento WEB" class="svg-icons">
                    </div>
                    <h3>
                        MERN Stack
                    </h3>
                    <p>
                        Experiência no desenvolvimento utilizando MongoDB, ExpressJS, ReactJS, Node.js
                    </p>
                </li>
                <li class="skills__item">
                    <div class="image-container">
                        <img src="../public/img/wampserver.png" alt="WEB Design" class="svg-icons">
                    </div>
                    <h3>
                        WampServer
                    </h3>
                    <p>
                        Experiência no desenvolvimento de aplicações web com Apache, PHP, MySQL utilizando o WampServer como servidor local, além do PhpMyAdmin para gerenciar as databases
                    </p>
                </li>
                <li class="skills__item">
                    <div class="image-container">
                        <img src="../public/img/postman.svg" alt="UX/UI Design" class="svg-icons">
                    </div>
                    <h3>
                        Postman
                    </h3>
                    <p>
                        Experiência em testar rotas de APIs, verificar endpoints e suas respostas retornadas pelos servidores com a ferramenta Postman
                    </p>
                </li>
                <li class="skills__item">
                    <div class="image-container">
                        <img src="../public/img/gitlogo.svg" alt="Gerenciamento de versões" class="svg-icons">
                    </div>
                    <h3>
                        Git
                    </h3>
                    <p>
                        Experiência com o gerenciador de versões Git, ajudando na colaboração eficiente, flexibilidade e controle que ele proporciona
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <!-- Projetos -->

    <section id="projects" class="projects max-width">
        <div class="projects__content">
            <h2 class="secondary-title">Projetos Pessoais</h2>
            <p>
                Desde ideias abstratas a linhas de códigos, a cursos com projetos práticos e desafios criativos!
            </p>
        </div>
        <ul>
            <!-- Cada tag <li> é um projeto -->
            <li>
                <div class="image">
                    <img src="../public/img/task-manager.png" alt="Gerenciamento de Tarefas">
                </div>
                <div class="projects__info">
                    <h3 class="tertiary-title">Plataforma para conectar desenvolvedores</h3>
                    <p>
                        Assim que comecei meus estudos sobre a stack MERN, me deparei com um curso em inglês sobre o assunto. E o curso incluia o desenvolvimento de um projeto sobre essa plataforma. Então, desenvolvi e implementei novas funcionalidades na plataforma!
                    </p>
                    <a href="#">Leia mais &rarr;</a>
                </div>
            </li>
            <li class="projects__reversed-list">
                <div class="image">
                    <img src="../public/img/ecommerce.png" alt="ecommerce">
                </div>
                <div class="projects__info">
                    <h3 class="tertiary-title">Sistemas de Gerenciamento de tarefas</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        In natus sit adipisci iste cumque, inventore doloremque voluptate impedit non saepe soluta dolorem atque dolores ex? Vitae quae et consectetur voluptas?
                    </p>
                    <a href="#">Leia mais &rarr;</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <img src="../public/img/delivery.png" alt="delivery">
                </div>
                <div class="projects__info">
                    <h3 class="tertiary-title">delivery</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        In natus sit adipisci iste cumque, inventore doloremque voluptate impedit non saepe soluta dolorem atque dolores ex? Vitae quae et consectetur voluptas?
                    </p>
                    <a href="#">Leia mais &rarr;</a>
                </div>
            </li>
        </ul>
    </section>

    <!-- Footer -->

    <footer id="footer">
        <div class="footer__content max-width mb-0">
            <h2 class="tertiary-title mb-s">Vamos Conversar?</h2>
            <p class="mb-m">
                Ficarei feliz em conhecer quem está pelo outro lado!
            </p>
            <div class="footer__contact mb-m">

                <div class="tooltip">
                    <span id="copiado-mensagem" class="tooltiptext">Clique para copiar o e-mail</span>
                    <span id="footer-email" class="mb-m" contenteditable="true" onclick="copiarEmail()">luki.inocencio@outlook.com</span>
                </div>

                <br />

                <button id="openModalBtn" class="btn btn-primary">Formulário de contato</button>

                <div id="modal" class="modal modal__open">
                    <div class="modal__content">
                        <span class="close">&times;</span>
                        <h2 class="secondary-title">Entre em contato!</h2>
                        <form id="emailForm" class="contact-form" action="send" method="POST">
                            
                            <input type="text" id="name" name="name" class="input__group" placeholder=" Digite seu Nome" maxlength="65" required /><br />

                            <input type="email" id="email" name="email" class="input__group" placeholder=" Digite seu E-mail" maxlength="255" required /><br />

                            <input type="tel" id="tel" name="tel" class="input__group" placeholder=" Digite seu Telefone" maxlength="15" onkeyup="handlePhone(event)" required /><br />

                            <input type="text" id="subject" name="subject" class="input__group" placeholder=" Digite o Assunto" maxlength="65" required /><br />

                            <textarea id="message" name="message" class="input__group" spellcheck="true" placeholder=" Digite sua Mensagem" required /></textarea><br />

                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>

            </div>

            <ul class="mb-s">
                <p class="mb-s">
                    Confira minhas redes abaixo:
                </p>
                <li><a href="https://github.com/Lukinocencio" target="_blank"><img src="../public/img/github.svg" alt="GitHub de Lucas Inocêncio" class="svg-icons"></a></li>
                <li><a href="https://www.linkedin.com/in/lucas-inocêncio-de-frança-1a67a7191/" target="_blank"><img src="../public/img/linkedin.svg" alt="LinkedIn de Lucas Inocêncio" class="svg-icons"></a></li>
            </ul>
            <p class="footer__copyright">
                &copy; 2024 Lucas França. Todos os direitos reservados.
            </p>
        </div>
    </footer>

    <!-- Script -->
    <script src="../public/js/index.js"></script>

</body>

</html>