.contributions {
    background-color: var(--light-tertiary-color);
    scroll-margin-top: 15rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.contributions .contributions__content {
    margin: 0 auto;
    text-align: center;
    max-width: 56rem;
    padding: 0 2rem;
}

.contributions .contributions__content .description {
    margin: 1rem auto 4rem;
}

@media only screen and (max-width: 768px) {
    .contributions {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}


/* Fix react-github-calendar text issues */
.github-calendar-wrapper text, .github-calendar-wrapper span {
  background: transparent !important;
  color: var(--text-color) !important;
  fill: var(--text-color) !important;
}
