/* Estilização do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.3s ease-in-out;
}

.modal__content {
    background-color: var(--white);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.3rem solid var(--primary-color);
    border-radius: 0.6rem;
    padding: 2rem;
    max-width: 90%;
    width: 55rem;
    height: 55rem;
    line-height: 2.1rem;
}

.modal .modal__content h2 {
    margin-top: 0;
    margin-bottom: 5rem; 
}

.modal .modal__content button{
    width: 100%;
}
.input__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; 
    border: none;
    border-bottom: 0.1rem solid var(--black);
    outline: 0;
    resize: vertical;
    height: 2.3rem;
}

.close {
    color: var(--black);
    position: absolute;
    top: 2rem;
    right: 2rem; 
    font-size: 4.1rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--dark-gray);
    text-decoration: none;
    cursor: pointer;
}