footer {
    background-color: var(--light-tertiary-color);
}

footer .footer__content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}

footer .footer__content .footer__contact span {
    display: block;
    font-weight: 500;
    cursor: pointer;
}

footer .footer__content ul li {
    display: inline-block;
}

footer .footer__content ul a {
    display: inline-block;
    padding: 1rem;
}

footer .footer__content .footer__copyright {
    font-size: 1.4rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Caso o tooltip desalinhe basta adicionar left: 50%; | margin-left: -14.7rem; */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 30rem;
    background-color: var(--secondary-color);
    color: var(--white);
    text-align: center;
    border-radius: 6rem;
    padding: 1rem;
    position: relative;
    left: 50%;
    margin-left: -14.7rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}